{% extends 'brocklyn/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container editprofile ml-3 mr-3" style="margin-top:12%;padding-bottom:4%;padding-top: 2%; background-color:#e9ecef;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3 class="text-center">Update Your Profile</h3>
            <form action="" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-sm btn-info"> Update</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}