{% extends 'brocklyn/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container newhood mb-3" style="margin-top: 10%;background-color: #e9ecef;" >
    <div class="row pt-3 pb-3">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3 class="text-center">Add Your Neighborhood Here</h3>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-info">Add Hood</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
{% endblock %}